[submodule "libs/degpt"]
	path = libs/degpt
	url = https://github.com/PeiweiHu/DeGPT.git
[submodule "libs/cinspector"]
	path = libs/cinspector
	url = https://github.com/PeiweiHu/cinspector
[submodule "libs/chatmanager"]
	path = libs/chatmanager
	url = https://github.com/PeiweiHu/chatmanager
[submodule "libs/sven"]
	path = libs/sven
	url = https://github.com/eth-sri/sven.git
